[user]
	name = Damien L-G
	email = dalg24@gmail.com
	signingkey = 0x7A0994F834C86684
[core]
	editor = vi
	excludesfile = ~/.gitignore
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	commit-auto-message = !git commit -m "\"$(curl -s http://whatthecommit.com/index.txt)\""
	log1 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[diff]
	algorithm = minimal
	compactionHeuristic = true
	renames = true
[push]
	default = nothing
